

#conteudo{


    margin-top: 10%;
    padding-bottom: 10%;
    margin-left: 25%;
    width: 100%;
    height: auto;



}

#conteudo-error{


    margin-top: 10%;
    padding-bottom: 10%;
    width: 100%;
    height: auto;




}

